# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. ggplot
5. caret

| Data Science Tools |
| --- |
| Anaconda |
| GIT |
| GITHUB |

### Below are a few examples of evaluating arithmetic expressions in Python

[//]: # "This a simple arithmetic expression to mutiply then add integers"

In [8]:
(3*4)+5

17

[//]: # "This will convert 200 minutes to hours by diving by 60"

In [9]:
200/60

3.3333333333333335

#### List popular languages for Data Science
* Python
* SQL
* Julia
* Scala
* R

## Paweł Żurawski